<nav class="navbar navbar-expand-lg navbar-light">
    <a class="brand" routerLink="/main">
      <img src="/assets/favicon.png" width="60" height="60"/>Movie Fanatics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <div>
        <span *ngIf="this.loginService.isLoggedIn()">
          <a routerLink="/profile-view" class="FullName">{{ this.loginService.getFullName() }}</a>
          &nbsp;&bull;&nbsp;
          <a routerLink="{{this.router.url}}" (click)="logout()">Logout</a>
          &nbsp;&bull;&nbsp;
          <a routerLink="#" data-toggle="modal" data-target="#creditModal">Credits</a>
        </span>
        <span *ngIf="!this.loginService.isLoggedIn()">
          <a routerLink="/edit-profile">Sign up</a>
          &nbsp;&bull;&nbsp;
          <a routerLink="#" data-toggle="modal" data-target="#myModal">Login</a>
          &nbsp;&bull;&nbsp;
          <a routerLink="#" data-toggle="modal" data-target="#creditModal">Credits</a>
        </span>
        &nbsp;
      </div>
    </div>

</nav>
<div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="search-icon"><i class="fa fa-search"></i></span>
    </div>
    <input [(ngModel)]="query" (keyup.enter)="this.enterPressed()" class="form-control" placeholder="Search for a movie or actor" aria-label="Search for a movie or actor" aria-describedby="search-icon">
</div>
<!-- Credit Modal -->
<div class="modal fade" id="creditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Movie Fanatics</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>#theFanatics wish to thank and credit the following:</p>
        <ul>
          <li>Genesis Bonds for her love and inspiration.</li>
          <li><a class="credit-link" routerLink="https://www.themoviedb.org/">The Movie DB</a> for providing the base API movie data.</li>
          <li><a class="credit-link" routerLink="http://www.omdbapi.com/">The Open Movie Database</a> for prividing additional API movie data.</li>
        </ul>
        <hr>
        <p>#theFanatics are:</p>
        <ul>
          <li>Ted Airey</li>
          <li>Davidson Bock</li>
          <li>Phil Gerringer</li>
          <li>Andrew Newman</li>
          <li>Gerald Roman-Gonzalez</li>
          <li>Sean Young</li>
        </ul>
        <div>© #theFanatics 2018</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Login Modal-->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-lock"></span> Login {{output}}</h4>
      </div>
      <div class="modal-body" style="padding:40px 50px;">
        <form role="form">
          <div class="form-group">
              
            <label for="username"><span class="fa fa-user"></span> Username</label>
            <br>
            <input type="text" [(ngModel)]="username" name="username" class='form-control col-6' placeholder='Enter Username' size="35">
          </div><style></style>
          <div class="form-group">
            <label for="password"><span class="fa fa-unlock-alt"></span> Password</label>
            <br>
            <input type="password" [(ngModel)]="password" name="password" class='form-control col-6' placeholder='Enter Password' size="35">
          </div>
          
          <button class="btn btn-submit" (click)="login()">Login</button>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" #cancelBtn class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
      </div>

  </div>


  </div>
</div>
