
<br>
<h1 class="text-center">
  <img src="../../../assets/favicon.png" height="80" width="80" class="center">Welcome to Movie Fanatic!
</h1>
<h2 class="text-center">Featured Movie</h2>
<app-featured-movie></app-featured-movie>
<br>
<app-favorite-movies></app-favorite-movies>
<h2 class="text-center">Popular Movies</h2>
<br>
<app-popular-movies></app-popular-movies>
<br>
<h2 class="text-center">Best Movies of 2018</h2>
<br>
<app-year-movies></app-year-movies>
<br>
<h2 class="text-center">Popular Dramas</h2>
<br>
<app-dramatic-movies></app-dramatic-movies>
<br>
<h2 class="text-center">Popular Comedies</h2>
<br>
<app-comedic-movies></app-comedic-movies>

